<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MHRUnpack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MHRUnpack.Properties.Settings>
            <setting name="语言" serializeAs="String">
                <value />
            </setting>
            <setting name="显示未知" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="多线程" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="线程数" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="输出目录" serializeAs="String">
                <value />
            </setting>
        </MHRUnpack.Properties.Settings>
    </userSettings>
</configuration>